.js-ubication__right h2{
	margin-top: 0 !important;
	line-height: 20px;
	font-size: 15px;
	font-family: 'OpenSansLight';
}
.js-button--default{
	background-color: transparent !important;
	text-transform: initial;
	color: #ff8300 !important;
	font-size: 18px;
	box-shadow: none;
	padding: 0;
}
.js-ubication__right a i{
	color: #ff8300 !important;
	margin-right: 5px;
	vertical-align: middle;
}