.js-ubication{
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.js-ubication__left{
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 500px;
}
.js-ubication__right{
	padding-top: 0 !important;
	padding: 20px;
	width: 100%;
	max-width: calc(100% - 500px);
	text-align: left;
	
}
.js-ubication__right h2{
	margin-top: 0 !important;
	line-height: 30px;
	font-size: 24px;
	font-family: 'OpenSansLight';
}
.js-ubication__left--img{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(../img/fondo/fondo-ubicacion.jpg) no-repeat center center;
	background-size: cover;
	height: 215px;
}
.js-button--default{
	background-color: transparent !important;
	text-transform: initial;
	color: #ff8300 !important;
	font-size: 18px;
	box-shadow: none;
	padding: 0;
}
.js-ubication__right a i{
	color: #ff8300 !important;
	margin-right: 5px;
	vertical-align: middle;
}
.js-ubication__right p{
	color: #ff8300 !important;
	font-size: 24px;
}