$default   = #FF8300
$primary   = #9FD4C9
$secondary = #D5D654
.js-wizard
	position relative
	.js-wizard__nav
		margin-bottom 30px
		.js-progress
			width 75%
			.js-progress__bar
				background-color #004062
		.js-nav
			position relative
			&>li
				display inline-block
				width 24%
				&:hover
				&.active
					.step
						border-color $default
						color $default
					.js-nav__title
						color $default
				&.complete
					.step
						border-color $default
						background-color $default
						color #FFFFFF
				.js-nav__title
					text-align center
					position absolute
					width 100%
					left 0
					bottom -20px
					color #757575
			a
				margin-bottom 5px
				cursor pointer
	.js-wizard__title
		h2
			font-size 18px
			padding 3px 0
			margin 30px 0
			border-bottom 1px solid #757575
			color #757575
			text-align left
@media ( max-width: 768px )
	.js-wizard 
		.js-wizard__nav 
			.js-nav
				&>li 
					width 23%
					.js-nav__title
						display none