.js-wizard
	position relative
	.js-wizard__nav
		.js-progress
			width 48%
			.js-progress__bar
				background-color #004062
		.js-nav
			&>li
				display inline-block
				width 48.5%
	.js-wizard__title
		h2
			font-size 18px
			padding 3px 0
			margin 30px 0
			border-bottom 1px solid #757575
			color #757575
			text-align left