$regular   = 'OpenSansRegular'
$medium    = 'OpenSansMedium'
$bold      = 'OpenSansBold'
$default   = #FF8300;
$primary   = #9FD4C9;
$secondary = #D5D654;
flexCenter()
	display flex
	display -webkit-flex
	align-items center
flexStart()
	display flex
	display -webkit-flex
	align-items start
flexEnd()
	display flex
	display -webkit-flex
	align-items flex-end
transitionOpacity()
	-webkit-transition opacity .3s linear
	-moz-transition opacity .3s linear
	-ms-transition opacity .3s linear
	-o-transition opacity .3s linear
	transition opacity .3s linear
transitionWidth()
	-webkit-transition width .3s linear
	-moz-transition width .3s linear
	-ms-transition width .3s linear
	-o-transition width .3s linear
	transition width .3s linear
transitionMaxWidth()
	-webkit-transition max-width .3s linear
	-moz-transition max-width .3s linear
	-ms-transition max-width .3s linear
	-o-transition max-width .3s linear
	transition max-width .3s linear
transitionBgColor()
	-webkit-transition background-color .3s linear
	-moz-transition background-color .3s linear
	-ms-transition background-color .3s linear
	-o-transition background-color .3s linear
	transition background-color .3s linear
transitionTransform()
	-webkit-transition transform .3s linear
	-moz-transition transform .3s linear
	-ms-transition transform .3s linear
	-o-transition transform .3s linear
	transition transform .3s linear
absolute()
	position absolute
	top 0
	left 0
	right 0
	bottom 0
flipCard()
	-moz-backface-visibility hidden
	-webkit-backface-visibility hidden
	backface-visibility hidden
	-webkit-transition -webkit-transform 500ms
	-moz-transition -moz-transform 500ms
	-o-transition -o-transform 500ms
	transition transform 500ms
	border-radius 5px
	position absolute
flipCardFront()
	-webkit-transform perspective(600) rotateY(0)
	-moz-transform perspective(600) rotateY(0)
	-o-transform perspective(600) rotateY(0)
	transform perspective(600) rotateY(0)
flipCardBack()
	-webkit-transform rotateY(-180deg)
	-moz-transform rotateY(-180deg)
	-o-transform rotateY(-180deg)
	transform rotateY(-180deg)
	z-index 900
flipCardFrontHover()
	-webkit-transform rotateY(180deg)
	-moz-transform rotateY(180deg)
	-o-transform rotateY(180deg)
	transform rotateY(180deg)
	-webkit-transform perspective(600) rotateY(180deg)
	-moz-transform perspective(600) rotateY(180deg)
	-o-transform perspective(600) rotateY(180deg)
	transform perspective(600) rotateY(180deg)
flipCardBackHover()
	-webkit-transform rotateY(0)
	-moz-transform rotateY(0)
	-o-transform rotateY(0)
	transform rotateY(0)
	-webkit-transform perspective(600) rotateY(0)
	-moz-transform perspective(600) rotateY(0)
	-o-transform perspective(600) rotateY(0)
	transform perspective(600) rotateY(0)
	z-index 950
body
	margin 0
	padding 0
	font-family $regular
	color #000000
	background-color #FFFFFF
.js-idioma
	.btn-group
		width 100% !important
		max-width 180px;
		button
			background-color transparent !important
			color #FFFFFF !important
			border none
			box-shadow none !important
			outline 0 !important
.js-container
	transitionMaxWidth()
	width 100%
	max-width 1150px
	height 100vh
	justify-content center
	margin auto
	flex-direction column
	position relative
	padding 30px
.js-contenido
	background-color $secondary
	.js-contenido__left
		transitionMaxWidth()
		display inline-block
		width 100%
		max-width 320px
		vertical-align top
		padding 25px
		h2
			margin 0 0 10px 0
		p
			margin 10px 0
			line-height 20px
	.js-contenido__right
		display inline-block
		vertical-align top
		width 100%
		max-width -webkit-calc(100% - 325px)
		max-width -moz-calc(100% - 325px)
		max-width -ms-calc(100% - 325px)
		max-width -o-calc(100% - 325px)
		max-width calc(100% - 325px)
		.js-contenido--imagen
			img
				width 100%
.js-cards
	flexStart()
	flex-wrap wrap
	.js-card--partner
		max-width 340px
		width 100%
		margin 10px
		padding 20px
		border 1px solid #000000
		position relative
		.js-card--partner__front
			float left
			position relative
			z-index 5
			.js-card--partner__imagen
				text-align center
				height 125px
				img
					max-width 200px
					width 100%
			.js-card--partner__contenido
				padding 0 10px
				height 260px
				p
					line-height 20px
		.js-card--partner__back
			height 100%
			width 100%
			opacity 0
			backface-visibility hidden
			-webkit-transition -webkit-transform 0.3s, opacity 0.3s
			-moz-transition -moz-transform 0.3s, opacity 0.3s
			transition transform 0.3s, opacity 0.3s
			position absolute
			top 0
			left 0
			padding 20px
			background-color #2c3f52
		&.effect1
			.js-card--partner__front
				opacity 0
			.js-card--partner__back
				opacity 1
				-webkit-transform translate(15px, 15px)
				-moz-transform translate(15px, 15px)
				-ms-transform translate(15px, 15px)
				transform translate(15px, 15px)
.js-contenido--filtro
	flexCenter()
.js-card--partner__footer
	border-top 1px solid #000000
	flexCenter()
	.js-card--footer__texto
		margin 10px 0
		p
			margin 0
			line-height 14px
			font-size 12px
		a
			font-family $bold
			font-size 12px
			line-height 14px
			color #000000
			width 100%
			overflow hidden
			white-space nowrap
			text-overflow ellipsis
			display inline-block
	.js--card--footer__contact
		flexCenter()
		height 70px
		border-left 1px solid #000000
/*SCROLL*/
::-webkit-scrollbar
	width 8px
	height 5px
::-webkit-scrollbar-track
	background-color transparent
	border-radius 10px
::-webkit-scrollbar-thumb
	background-color #AAAAAA
	border-radius 10px
// @media ( max-width: 1400px )
// @media ( max-width: 1200px )
// @media ( max-width: 768px )
// @media ( max-width: 600px )
					