$light     = 'OpenSansLight'
$regular   = 'OpenSansRegular'
$medium    = 'OpenSansMedium'
$bold      = 'OpenSansBold'
$default   = #FF8300;
$primary   = #9FD4C9;
$secondary = #D5D654;
flexCenter()
	display flex
	display -webkit-flex
	align-items center
flexStart()
	display flex
	display -webkit-flex
	align-items start
flexEnd()
	display flex
	display -webkit-flex
	align-items flex-end
transitionOpacity()
	-webkit-transition opacity .3s linear
	-moz-transition opacity .3s linear
	-ms-transition opacity .3s linear
	-o-transition opacity .3s linear
	transition opacity .3s linear
transitionWidth()
	-webkit-transition width .3s linear
	-moz-transition width .3s linear
	-ms-transition width .3s linear
	-o-transition width .3s linear
	transition width .3s linear
transitionHeight()
	-webkit-transition height .3s linear
	-moz-transition height .3s linear
	-ms-transition height .3s linear
	-o-transition height .3s linear
	transition height .3s linear
transitionMaxWidth()
	-webkit-transition max-width .3s linear
	-moz-transition max-width .3s linear
	-ms-transition max-width .3s linear
	-o-transition max-width .3s linear
	transition max-width .3s linear
transitionBgColor()
	-webkit-transition background-color .3s linear
	-moz-transition background-color .3s linear
	-ms-transition background-color .3s linear
	-o-transition background-color .3s linear
	transition background-color .3s linear
transitionTransform()
	-webkit-transition transform .3s linear
	-moz-transition transform .3s linear
	-ms-transition transform .3s linear
	-o-transition transform .3s linear
	transition transform .3s linear
absolute()
	position absolute
	top 0
	left 0
	right 0
	bottom 0
flipCard()
	-moz-backface-visibility hidden
	-webkit-backface-visibility hidden
	backface-visibility hidden
	-webkit-transition -webkit-transform 500ms
	-moz-transition -moz-transform 500ms
	-o-transition -o-transform 500ms
	transition transform 500ms
	border-radius 5px
	position absolute
flipCardFront()
	-webkit-transform perspective(600) rotateY(0)
	-moz-transform perspective(600) rotateY(0)
	-o-transform perspective(600) rotateY(0)
	transform perspective(600) rotateY(0)
flipCardBack()
	-webkit-transform rotateY(-180deg)
	-moz-transform rotateY(-180deg)
	-o-transform rotateY(-180deg)
	transform rotateY(-180deg)
	z-index 900
flipCardFrontHover()
	-webkit-transform rotateY(180deg)
	-moz-transform rotateY(180deg)
	-o-transform rotateY(180deg)
	transform rotateY(180deg)
	-webkit-transform perspective(600) rotateY(180deg)
	-moz-transform perspective(600) rotateY(180deg)
	-o-transform perspective(600) rotateY(180deg)
	transform perspective(600) rotateY(180deg)
flipCardBackHover()
	-webkit-transform rotateY(0)
	-moz-transform rotateY(0)
	-o-transform rotateY(0)
	transform rotateY(0)
	-webkit-transform perspective(600) rotateY(0)
	-moz-transform perspective(600) rotateY(0)
	-o-transform perspective(600) rotateY(0)
	transform perspective(600) rotateY(0)
	z-index 950
body
	margin 0
	padding 0
	font-family $regular
	color #000000
	background-color #FFFFFF
label
	font-weight 100
img
	width 100%
a
	text-decoration none !important
.js-flex
	flexCenter()
.js-section
	position relative
	padding 40px 20px
.js-idioma
	.btn-group
		width 100% !important
		max-width 180px;
		button
			background-color transparent !important
			color #FFFFFF !important
			border none
			box-shadow none !important
			outline 0 !important
.navbar-default
	.js-container
		padding 20px 30px
	.navbar-right
		flexCenter()
.js-container
	transitionMaxWidth()
	width 100%
	max-width 1150px
	height 100%
	justify-content center
	margin auto
	flex-direction column
	position relative
	padding 30px
.js-contenido
	background-color $secondary
	.js-contenido__left
		transitionMaxWidth()
		display inline-block
		width 100%
		max-width 320px
		vertical-align top
		padding 25px
		h2
			margin 0 0 10px 0
		p
			margin 10px 0
			line-height 20px
	.js-contenido__right
		display inline-block
		vertical-align top
		width 100%
		max-width -webkit-calc(100% - 325px)
		max-width -moz-calc(100% - 325px)
		max-width -ms-calc(100% - 325px)
		max-width -o-calc(100% - 325px)
		max-width calc(100% - 325px)
		.js-contenido--imagen
			img
				width 100%
		.js-contenido--texto
			p
				font-size 20px
				margin 20px 0 0 0
.js-cards
	flexStart()
	flex-wrap wrap
	justify-content center
	.js-card--partner
		// transitionHeight()
		box-shadow 5px 5px 10px rgba(0, 0, 0, 0.2)
		background-color #FFFFFF
		max-width 340px
		width 100%
		margin 10px
		padding 10px 20px
		position relative
		.js-hide
			height 100px
			overflow hidden
			&.js-height
				height 100%
				overflow inherit
		.js-card--partner__button
			text-align center
			button
				transition all .2s linear
				&.rotate 
					background-color #FF8300
					transform rotate(180deg)
					i
						color #FFFFFF
		.js-card--partner__front
			float left
			position relative
			z-index 5
			width 100%
			.js-card--partner__imagen
				flexCenter()
				justify-content center
				text-align center
				height 125px
				img
					max-width 200px
					width 100%
					cursor pointer
			.js-card--partner__contenido
				padding 0 10px
				height 260px
				p
					line-height 20px
		.js-card--partner__back
			-webkit-backface-visibility hidden
			-moz-backface-visibility hidden
			backface-visibility hidden
			position absolute
			top 0
			left 0
			padding 20px
			h2
				font-size 22px
				line-height 24px
				margin 5px 0
			i
				color #FFFFFF
				font-weight bold
			table
				margin-top 20px
		&:nth-child(1)
			.js-card--partner__back
				background-color #004876
		&:nth-child(2)
			.js-card--partner__back
				background-color $secondary
		&:nth-child(3)
			.js-card--partner__back
				background-color $primary
		&:nth-child(4)
			.js-card--partner__back
				background-color #646569
		&:nth-child(5)
			.js-card--partner__back
				background-color #A0D5C9
		&:nth-child(6)
			.js-card--partner__back
				background-color #008375
		&.js-card--partner1
			.js-card--partner__back
				height 100%
				width 100%
				opacity 0
				-webkit-transition -webkit-transform 0.3s, opacity 0.3s
				-moz-transition -moz-transform 0.3s, opacity 0.3s
				transition transform 0.3s, opacity 0.3s
				color #FFFFFF
.js-contenido--filtro
	flexCenter()
	margin 20px 0 30px 0
.js-card--partner__footer
	border-top 1px solid #000000
	flexCenter()
	.js-card--footer__texto
		margin 10px 0
		p
			margin 0
			line-height 14px
			font-size 12px
		a
			font-family $bold
			font-size 12px
			line-height 14px
			color #000000
			width 100%
			overflow hidden
			white-space nowrap
			text-overflow ellipsis
			display inline-block
	.js--card--footer__contact
		flexCenter()
		height 70px
		border-left 1px solid #000000
.js-input
	padding 7px 20px
	height 72px
	border 1px solid rgba(0,0,0,0.15)
	background-color #FFFFFF
	margin-bottom -1px
	color #333333
	margin 5px 0
	&.js-date
		height 100%
		padding 5px 20px
		.js-icon
			width 100%
			max-width 36px
			text-align center
	&.js-radio
		height 100%
		.mdl-radio
			width 100%
			.mdl-radio__inner-circle
				background $default
			&.is-checked
				.mdl-radio__outer-circle
					border 2px solid $default
			.mdl-radio__ripple-container 
				.mdl-ripple
					background $default
	&.js-select
		padding 0
		height 100%
		.bootstrap-select
			.dropdown-toggle
				padding 14px 24px
				border-radius 0
				box-shadow none
				background-color transparent
			.dropdown-menu
				background-color rgba(248, 248, 248, 0.95)
				border-radius 0
				margin 0 
				padding 0
				&.open
					margin 0
					padding 0
					li
						a
							padding 6px 20px
							&:hover
								background-color rgba(221,221,221,0.5)
	label
		font-family $light
		color #666666
		cursor pointer
	input
		display block
		height 36px
		width 100%
		border none
		font-size 16px
		&:focus
			outline 0
	&.input-focused
		background-color #FFFFFF
	.bootstrap-select
		width 100% !important
		.dropdown-toggle
			border none !important
			padding 6px 0
			selectTransparent()
			&:focus
				outline: 0 !important
.js-button
	margin 10px 0
	text-transform initial
	font-family $medium
	color #FFFFFF
	text-decoration none
	background-color $default !important
	border-radius 0
	font-size 18px
	box-shadow none
	border 2px solid $default
	margin 5px
	border-radius 4px
	line-height 30px
	&:hover
		color #FFFFFF
		text-decoration none
	&.js-button--default
		background-color transparent !important
		color #000000
footer
	background-color #F3F3F4
	h2
		font-size 14px
		font-family $medium
		margin 10px 0
		color #646569
	p
		font-size 12px
		text-align right
	ul
		margin 0
		padding 0
		&.js-redes
			flexCenter()
			li
				margin 10px 15px
				a
					i
						font-size 30px
						color #646569
		li
			list-style none
			a
				color #646569
				font-family $regular
	.js-footer
		margin-top 50px
		.js-politicas
			a
				font-size 12px
				padding 0 5px
				color #646569
/*SCROLL*/
::-webkit-scrollbar
	width 8px
	height 5px
::-webkit-scrollbar-track
	background-color transparent
	border-radius 10px
::-webkit-scrollbar-thumb
	background-color #AAAAAA
	border-radius 10px
// @media ( max-width: 1400px )
// @media ( max-width: 1200px )
// @media ( max-width: 768px )
@media ( max-width: 600px )
	.js-container
		padding 20px
	.js-cards 
		.js-card--partner 
			.js-card--partner__front 
				.js-card--partner__contenido
					padding 0
					