/* Wizard*/
.js-wizard .js-wizard__nav .js-progress {
	top: 28.5px;
	height: 1px;
	box-shadow: inherit;
	background-color: #e6e6e6;
}
.js-wizard .nav>li>a:focus,
.js-wizard .nav>li>a:hover {
	background-color: transparent;
}
.js-wizard .nav li.active .step {
	position: relative;
	top: -5px;
	height: 45px;
	width: 45px;	
}
.js-wizard .nav li.complete.active .step:AFTER,
.js-wizard .nav li.active .step:AFTER {
	position: relative;
	top: 4px;
}
.js-wizard .nav li.complete .step:AFTER,
.js-wizard .nav li.complete.active .step:AFTER,
.js-wizard .nav li.complete.active:HOVER .step:AFTER {
	color: #FFFFFF
}
.js-wizard ul.nav.nav-pills>li>a {
	padding: 10px 0
}
.js-wizard ul.nav.nav-pills>li:NTH-CHILD(1)>a span.step:AFTER {
	content: "1";
}
.js-wizard ul.nav.nav-pills>li:NTH-CHILD(2)>a span.step:AFTER {
	content: "2"
}
.js-wizard ul.nav.nav-pills>li:NTH-CHILD(3)>a span.step:AFTER {
	content: "3"
}
.js-wizardul.nav.nav-pills>li:NTH-CHILD(4)>a span.step:AFTER {
	content: "4"
}
.js-wizard ul.nav.nav-pills>li:NTH-CHILD(5)>a span.step:AFTER {
	content: "5"
}
.js-wizard ul.nav.nav-pills>li:NTH-CHILD(6)>a span.step:AFTER {
	content: "6"
}
.js-wizard .nav li.complete .title {
	color: #004062;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.js-wizard ul.nav.nav-pills>li.complete>a span.step:AFTER {
    font-family: 'Material Icons' !important;
	content: "\ea10";
}
.js-wizard .tab-pane .mdl-wizzard__tittle,
.js-wizard .tab-pane .mdl-card-supporting__title {
	visibility: hidden; 
	display: none;
	-webkit-transition: all .5s ease;
	   -moz-transition: all .5s ease;
		-ms-transition: all .5s ease;
		 -o-transition: all .5s ease;
			transition: all .5s ease;
}
.js-wizard .form-wizard.form-wizard-horizontal .nav .step{
    border: 4px solid transparent;
    background: #9E9E9E;
	line-height: 2;
}
.js-wizard .form-wizard.form-wizard-horizontal .nav li a{
    width: 60px;
    margin: auto;
    background-color: #FFF;
}