@font-face {
  font-family: 'MetricRegular';
  src: url('openSans/MetricHPE-Desktop-Regular.otf');
  font-weight: 100;
}

@font-face {
  font-family: 'MetricBold';
  src: url('openSans/MetricHPE-Desktop-Bold.otf');
  font-weight: 100;
}

@font-face {
  font-family: 'MetricLight';
  src: url('openSans/MetricHPE-Desktop-Light.otf');
  font-weight: 100;
}

@font-face {
  font-family: 'MetricSemiBold';
  src: url('openSans/MetricHPE-Desktop-SemiBold.otf');
  font-weight: 100;
}